/imgs/
/.idea/
/classify/
/runs/
/dist/
/build/
/v16.9.1
__pycache__
/templates/control/node_modules/
/templates/map/node_modules/
/templates/map/.idea/
/templates/control/.idea/
/Redis-x64-5.0.14.1/dump.rdb