.weaponTable{
  table-layout: auto;
  width: 100%;
  border: 0px;
  border-spacing: 0;
}
.weaponTable .indexCol{
  min-width: 42px;
}
.weaponTable .indexCell{
  max-width: 42px;
  overflow: hidden;
}
.weaponTable .locationCol{
  min-width: 60px;
  width: 100%;
}